.login-block {
  position: "relative";
  width: "100%";
  min-height: "100vh";
}

.login-sawo-container {
  display: "block";
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%; -50%)";
}

.login-socials ul {
  display: "grid";
  grid-template-columns: "1fr 1fr 1fr";
  list-style: "none";
}
